@import '../../appStyles/colors.scss' ;
.mainLayout {
  height: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/images/backgroundImage.png');
  }
  
  .card {
    width: 45%;
    border-radius: 50px;
  }
  .forgotImage
  {
    width: 40%;
    height: 100%;
  }
  
  .image{
  width: 90%;
  height: 100%;
  }
  .forgotForm
  {
    width: 60%;
    height: 100%;
  }
  
  .pageTitle
  {
     color: $navy;
     font-size: 40px;
  }
  
  .field
  {
    width: 85%;
     font-size: medium;
    }
  
  
  .buttonSend
  {
    background-color : $navy;  
  }
   