<div class="mainLayout">
  <mat-card class="card" fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutAlign="center center">
    <div class="forgotImage" fxFlex="45">
      <img src="../../../assets/images/forgotPasswordPage.png" class="image">
    </div>

    <div class="forgotForm" fxLayout="column" fxLayoutAlign="space-around center" fxFlex="50">

      <mat-card-header>
        <mat-card-title class="pageTitle"> Forgot </mat-card-title>
      </mat-card-header>

      <mat-form-field appearance="outline" class="field">
        <mat-label> Email </mat-label>
        <input matInput placeholder="email" type="email"  [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailInvalidMessage()}} </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="buttonSend" (click)="onForgot()">Send Mail</button>
       
    </div>
  </mat-card>
</div>