<div class="container" fxLayoutAlign="space-around center" fxFlex.xs="70" fxFlex.sm="46">
<!-- <button mat-icon-button title="Remind me">
    <mat-icon>notifications</mat-icon>
  </button> -->
  <!-- <button mat-icon-button title="Collaborator">
    <mat-icon>person_add</mat-icon>
  </button> -->
  <!-- <button mat-icon-button title="Change color" [matMenuTriggerFor]="menu_color">
    <mat-icon>color_lens</mat-icon>
  </button>
  <mat-menu #menu_color="matMenu" [overlapTrigger]="false">
    <div class="center">
        <button *ngFor="let color1 of colorArray" [ngStyle]="{'background':color1.color}" (click)="changeColor(noteid,color1.color)" class= "icon-palette"></button>
    </div>
      </mat-menu> -->
  <!-- <button mat-icon-button title="Add image">
    <mat-icon>panorama</mat-icon>
  </button>   -->
  <!-- <button mat-icon-button title="Archive" *ngIf="archive=='true'" (click)="archiveNotes(noteid)">
    <mat-icon>archive</mat-icon>
  </button> -->
  <!-- <button mat-icon-button title="Unarchive" *ngIf="archive=='false'" (click)="unarchiveNotes(noteid)">
    <mat-icon>unarchive</mat-icon>
  </button> -->
    
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu" title="More">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="trashNotes(noteid)">Delete Note</button>
    <button mat-menu-item>Add label</button>
    <button mat-menu-item>Add drawing</button>
    <button mat-menu-item>Show checkboxes</button>
  </mat-menu> -->
</div>