.container
{
    display:flex;
}
.dcard
    {
      height: 100%;
    border-radius: 10px;
      padding: 10px;
    transform: scaleX(0.95) scaleY(0.85)

    }

    .hide mat-icon{
      display: none;
    }
  
  .hide:hover mat-icon{
      display: block;
    }

    .chips
    {
      transform: scaleX(1) scaleY(0.8);
      padding: 5px;
    }

    .hide{
      opacity: 0;
    }
  
  .hide:hover {
      opacity: 1;
    }