<div *ngIf="view == 'grid'" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayout.sm="row wrap" class="container">
  <mat-card fxFlex="26" class="dcard" *ngFor="let note of display" [ngStyle]="{background : note.color}" fxFlex.xs="100"
    fxFlex.sm="46">
    <div (click)="openDialog(note)">
      <p style=" word-break: break-all">{{note.title}}</p>
    </div>
    <div (click)="openDialog(note)">
      <p style=" word-break: break-all">{{note.description}}</p>
    </div>
    <div *ngFor="let noteLabel of note.noteLabels">

      <mat-chip-list>
        <mat-chip class="chips">{{noteLabel.label}}
          <button class="hide" matSuffix mat-icon-button (click)="deletelabelfromnotes(noteLabel.id, note.id)">
            <mat-icon>close</mat-icon>
          </button></mat-chip>
      </mat-chip-list>
    </div>

    <div *ngFor="let reminder of note.reminder">
      <mat-chip-list>
        <mat-chip class="chips">{{reminder}}
          <button class="hide" matSuffix mat-icon-button (click)="deleteReminderFromNotes(note.id,reminder)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div *ngFor="let collaborator of note.collaborators">
        <button mat-mini-fab color="accent" title="{{collaborator.email}}">{{collaborator.firstName[0] | uppercase}}</button>
    </div>


    <div fxLayoutAlign="space-around center" class="hide">
      <app-toolbar (messageEvent)="receiveMessage($event)" [noteid]="note.id" [function]="component"></app-toolbar>
    </div>
  </mat-card>
</div>


<!-- ======================================================================================= -->

<div *ngIf="view == 'list'"fxLayout="row wrap" fxLayout.xs="row wrap" fxLayout.sm="row wrap" class="container">
    <mat-card fxFlex="80" class="dcard" *ngFor="let note of display" [ngStyle]="{background : note.color}" fxFlex.xs="100"
      fxFlex.sm="46">
      <div (click)="openDialog(note)">
        <p style=" word-break: break-all">{{note.title}}</p>
      </div>
      <div (click)="openDialog(note)">
        <p style=" word-break: break-all">{{note.description}}</p>
      </div>
      <div *ngFor="let noteLabel of note.noteLabels">
  
        <mat-chip-list>
          <mat-chip class="chips">{{noteLabel.label}}
            <button class="hide" matSuffix mat-icon-button (click)="deletelabelfromnotes(noteLabel.id, note.id)">
              <mat-icon>close</mat-icon>
            </button></mat-chip>
        </mat-chip-list>
      </div>
  
      <div *ngFor="let reminder of note.reminder">
        <mat-chip-list>
          <mat-chip class="chips">{{reminder}}
            <button class="hide" matSuffix mat-icon-button (click)="deleteReminderFromNotes(note.id,reminder)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div *ngFor="let collaborator of note.collaborators">
          <button mat-mini-fab color="accent" title="{{collaborator.email}}">{{collaborator.firstName[0] | uppercase}}</button>
    
      </div>
  
  
      <div fxLayoutAlign="center center" class="hide">
        <app-toolbar (messageEvent)="receiveMessage($event)" [noteid]="note.id" [function]="component"></app-toolbar>
      </div>
    </mat-card>
  </div>
