<div *ngIf="view == 'grid'" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayout.sm="row wrap" class="container">
  <mat-card class="dcard" *ngFor="let note of display" [ngStyle]="{background : note.color}" fxFlex.xs="100"
    fxFlex.sm="46">
    <div (click)="openDialog(note)">
      <p style=" word-break: break-all">{{note.title}}</p>
    </div>
    <div (click)="openDialog(note)">
      <p style=" word-break: break-all">{{note.description}}</p>
    </div>
 <!-- printing the checklist -->
 
 <div *ngFor="let item of note.noteCheckLists">
   <div *ngIf="item.status == 'open' && item.isDeleted == false ">
     <mat-icon (click)="updateItemFromChecklist(item.status,item.id,note.id,item.itemName)" >check_box_outline_blank</mat-icon>
       {{item.itemName}}
       <mat-icon (click)="deleteItemFromChecklist(item.id,note.id)">delete</mat-icon>
   </div>

   <div *ngIf="item.status == 'close' && item.isDeleted == false ">
    <mat-icon (click)="updateItemFromChecklist(item.status,item.id,note.id,item.itemName)">check_box</mat-icon>  
    <s> {{item.itemName}} </s>
     <mat-icon (click)="deleteItemFromChecklist(item.id,note.id)">delete</mat-icon>

   </div> 

 </div>

    <div *ngIf="checkboxViewData.show==true && checkboxViewData.noteId == note.id">
      <mat-icon>add</mat-icon><textarea [formControl]="itemForChecklist" [(ngModel)]="checklistItemModel" placeholder="List item"></textarea>
      <button (click)=addItemToChecklist(note.id)>add</button>
    </div>
    <div fxLayout="row wrap">
      <div *ngFor="let noteLabel of note.noteLabels">
        <mat-chip-list>
          <mat-chip class="chips">{{noteLabel.label}}
            <button class="hide" matSuffix mat-icon-button (click)="deletelabelfromnotes(noteLabel.id, note.id)">
              <mat-icon>close</mat-icon>
            </button></mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div *ngFor="let reminder of note.reminder">
      <mat-chip-list>
        <mat-chip class="chips">{{reminder | date : 'short'}}
          <button class="hide" matSuffix mat-icon-button (click)="deleteReminderFromNotes(note.id,reminder)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div fxLayout="row wrap">
      <div *ngFor="let collaborator of note.collaborators">
        <button mat-mini-fab color="accent"
          title="{{collaborator.email}}">{{collaborator.firstName[0] | uppercase}}</button>
      </div>
    </div>


    <div fxLayoutAlign="space-around center" class="hide">
      <app-toolbar (messageEvent)="receiveMessage($event)" [noteid]="note.id" [function]="component"></app-toolbar>
    </div>

    <div *ngIf="note.questionAndAnswerNotes.length>0" routerLink="../question/{{note.id}}">
      <mat-divider></mat-divider>
      <br>
      Question Asked
      <div innerHTML="{{note.questionAndAnswerNotes[0].message}}"></div>
    </div>
  </mat-card>
</div>


<!-- ======================================================================================= -->

<div *ngIf="view == 'list'" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayout.sm="row wrap" class="container">
  <mat-card fxFlex="90" class="dcard" *ngFor="let note of display" [ngStyle]="{background : note.color}" fxFlex.xs="100"
    fxFlex.sm="46">
    <div (click)="openDialog(note)">
      <p style=" word-break: break-all">{{note.title}}</p>
    </div>
    <div (click)="openDialog(note)">
      <p style=" word-break: break-all">{{note.description}}</p>
    </div>
 <!-- printing the checklist -->
 
 <div *ngFor="let item of note.noteCheckLists">
  <div *ngIf="item.status == 'open' && item.isDeleted == false ">
    <mat-icon (click)="updateItemFromChecklist(item.status,item.id,note.id,item.itemName)" >check_box_outline_blank</mat-icon>
      {{item.itemName}}
      <mat-icon (click)="deleteItemFromChecklist(item.id,note.id)">delete</mat-icon>
  </div>

  <div *ngIf="item.status == 'close' && item.isDeleted == false ">
   <mat-icon>check_box</mat-icon>  
   <s> {{item.itemName}} </s>
    <mat-icon (click)="deleteItemFromChecklist(item.id,note.id)">delete</mat-icon>

  </div> 

</div>

   <div *ngIf="checkboxViewData.show==true && checkboxViewData.noteId == note.id">
     <mat-icon>add</mat-icon><textarea [formControl]="itemForChecklist" [(ngModel)]="checklistItemModel" placeholder="List item"></textarea>
     <button (click)=addItemToChecklist(note.id)>add</button>
   </div>




    <div fxLayout="row wrap">
      <div *ngFor="let noteLabel of note.noteLabels">
        <mat-chip-list>
          <mat-chip class="chips">{{noteLabel.label}}
            <button class="hide" matSuffix mat-icon-button (click)="deletelabelfromnotes(noteLabel.id, note.id)">
              <mat-icon>close</mat-icon>
            </button></mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div *ngFor="let reminder of note.reminder">
      <mat-chip-list>
        <mat-chip class="chips">{{reminder | date : 'short'}}
          <button class="hide" matSuffix mat-icon-button (click)="deleteReminderFromNotes(note.id,reminder)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div fxLayout="row wrap">
      <div *ngFor="let collaborator of note.collaborators">
        <button mat-mini-fab color="accent"
          title="{{collaborator.email}}">{{collaborator.firstName[0] | uppercase}}</button>
      </div>
    </div>


    <div fxLayoutAlign="start center" class="hide">
      <app-toolbar fxFlex="60" (messageEvent)="receiveMessage($event)" [noteid]="note.id" [function]="component">
      </app-toolbar>
    </div>
    <div *ngIf="note.questionAndAnswerNotes.length>0" routerLink="../question/{{note.id}}">
      <mat-divider></mat-divider>
      <br>
      Question Asked
      <div innerHTML="{{note.questionAndAnswerNotes[0].message}}"></div>
    </div>
  </mat-card>


</div>