
::ng-deep .mat-dialog-container {
    padding: 0px;
    border-radius: 10px;
   
  }
.container
{
    display: flex;   
    overflow-x: hidden;
    
}
.text
{
    border : none;
    outline: none;
    padding-top: 10px;
    padding-left: 10px;
}

.footer
{
    display: flex;
}


.label
{
    transform: scaleX(0.9) scaleY(0.8);
   
}

.reminder
{
    transform: scaleX(0.9) scaleY(0.8);
}
.collab
{
    transform: scaleX(0.8) scaleY(0.8);
}

.mat-chip
{
    padding: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}