<h4>Collaborators</h4>
<mat-divider></mat-divider>
<br>
<mat-card-header>
  <img mat-card-avatar [src]="url? url : 'https://www.w3schools.com/howto/img_avatar.png'">
  <mat-card-title>{{userName}}</mat-card-title>
  <mat-card-subtitle>{{userEmail}}</mat-card-subtitle>
</mat-card-header>
<mat-divider></mat-divider>
<div *ngFor="let user of collaboratorsList" style="display: flex" style="width: 100%" fxLayoutAlign="space-between center">
    <img mat-card-avatar [src]="url? url : 'https://www.w3schools.com/howto/img_avatar.png'">
  <div fxFlex="70">

<p>{{user.firstName}}</p>
<p>{{user.email}}</p>
</div>
<div>
<button mat-button (click)="deleteCollaborators(user.userId,data.noteId)">
  <mat-icon matPrefix matToolTip="Delete label">close</mat-icon>
</button>
</div>
</div>
<mat-divider></mat-divider>
<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
  <div fxFlex="80">
    <input matInput [(ngModel)]="collaboratorSearch" (ngModelChange)="getUsersList($event)" placeholder="Search"
      [matAutocomplete]="autoGroup">
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-option *ngFor="let user of usersData" [value]="user.email">
        {{user.email}}
        </mat-option>
    </mat-autocomplete>
  </div>
  <div>
    <button mat-button (click)="addCollaborator()">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</div>
<div>
    <button mat-button>save</button>
  </div>