<div class="mainLayout">
  <mat-card class="card" fxLayout.xs="column" fxLayout.sm="column" fxLayout="row">
    <div class="resetImage" fxFlex="45" fxHide.xs="true" fxHide.md="true" fxShow="true">
      <img src="../../../assets/images/resetPasswordPage.png" class="image">
    </div>

    <div class="resetForm" fxFlex="55" fxLayout="column" fxLayoutAlign="space-around center">

      <mat-card-header>
        <mat-card-title class="pageTitle"> Reset </mat-card-title>
      </mat-card-header>

      <mat-form-field appearance="outline" class="field" >
        <mat-label> Password</mat-label>
        <input matInput placeholder="password" type="password"  [formControl]="password" required minlength="8">
        <mat-error *ngIf="password.invalid">{{getPasswordInvalidMessage()}} </mat-error>
        <mat-hint>Password must be 8 characters long</mat-hint>
      </mat-form-field>
      <mat-form-field class="field" appearance="outline">
        <mat-label>Confirm-Password</mat-label>
        <input matInput placeholder="Confirm-Password"  type="password" [formControl]="confirmPassword" 
        pattern="{{password.value}}" required minlength="8">
        <mat-error *ngIf="confirmPassword.invalid">{{ConfirmPasswordInvalidMessage()}} </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="buttonSend" (click)="onReset()" routerLink="/login">Submit</button>
       
    </div>
  </mat-card>
</div>