@import '../../appStyles/colors.scss' ;
.mainLayout {
  height: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
  background-image: url('../../../assets/images/backgroundImage.png');
}

.card {
  width: 45%;
  border-radius: 50px;
}

.resetImage
{
  height: 100%;
}

.image{
width: 80%;
height: 90%;
}

.pageTitle
{
   color : $navy;
   font-size: 40px;
}

.resetForm
{
  height: 100%;
}

.field
{
  width: 85%;
   font-size: medium;
  }

.buttonSend
{
  background-color :$navy;  
}
 